# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
virtualenv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Ignore notes to self
dev_notes.md
virtualenv/lib/python3.9/site-packages/_distutils_hack/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/__pycache__/build_env.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/__pycache__/configuration.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/__pycache__/exceptions.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/autocompletion.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/base_command.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/cmdoptions.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/command_context.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/main_parser.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/main.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/parser.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/spinners.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__/status_codes.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/commands/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/locations/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/locations/__pycache__/_distutils.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/locations/__pycache__/_sysconfig.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/locations/__pycache__/base.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/metadata/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/metadata/__pycache__/_json.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/metadata/__pycache__/base.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/models/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/models/__pycache__/direct_url.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/models/__pycache__/format_control.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/models/__pycache__/index.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/models/__pycache__/scheme.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/models/__pycache__/target_python.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/_log.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/appdirs.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/compat.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/compatibility_tags.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/deprecation.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/egg_link.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/filesystem.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/hashes.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/inject_securetransport.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/logging.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/misc.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/packaging.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/subprocess.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/temp_dir.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/urls.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__/virtualenv.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/certifi/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/certifi/__pycache__/core.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/big5freq.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/big5prober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/chardistribution.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/charsetgroupprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/charsetprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/codingstatemachine.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/codingstatemachinedict.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/cp949prober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/enums.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/escprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/escsm.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/eucjpprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/euckrfreq.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/euckrprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/euctwfreq.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/euctwprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/gb2312freq.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/gb2312prober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/hebrewprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/jisfreq.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/johabfreq.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/johabprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/jpcntx.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/langbulgarianmodel.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/langgreekmodel.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/langhebrewmodel.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/langrussianmodel.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/langthaimodel.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/langturkishmodel.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/latin1prober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/macromanprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/mbcharsetprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/mbcsgroupprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/mbcssm.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/resultdict.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/sbcharsetprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/sbcsgroupprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/sjisprober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/universaldetector.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/utf8prober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/utf1632prober.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__/version.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/idna/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/idna/__pycache__/core.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/idna/__pycache__/idnadata.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/idna/__pycache__/intranges.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/idna/__pycache__/package_data.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/__about__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/_manylinux.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/_musllinux.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/_structures.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/markers.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/requirements.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/specifiers.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/tags.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/utils.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__/version.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/platformdirs/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/platformdirs/__pycache__/api.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/platformdirs/__pycache__/unix.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/platformdirs/__pycache__/version.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/__pycache__/filter.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/__pycache__/lexer.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/__pycache__/modeline.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/__pycache__/plugin.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/__pycache__/regexopt.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/__pycache__/style.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/__pycache__/token.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/__pycache__/util.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/filters/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/lexers/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/lexers/__pycache__/_mapping.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pygments/styles/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__/actions.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__/common.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__/core.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__/exceptions.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__/helpers.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__/results.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__/testing.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__/unicode.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__/util.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyproject_hooks/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyproject_hooks/__pycache__/_impl.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/pyproject_hooks/_in_process/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/__version__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/_internal_utils.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/adapters.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/api.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/auth.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/certs.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/compat.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/cookies.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/exceptions.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/hooks.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/models.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/packages.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/sessions.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/status_codes.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/structures.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__/utils.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_cell_widths.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_emoji_codes.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_emoji_replace.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_export_format.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_extension.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_log_render.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_loop.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_null_file.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_palettes.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_pick.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_ratio.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/_wrap.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/abc.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/align.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/box.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/cells.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/color_triplet.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/color.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/columns.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/console.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/constrain.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/containers.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/control.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/default_styles.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/emoji.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/errors.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/highlighter.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/jupyter.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/logging.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/markup.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/measure.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/padding.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/pager.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/palette.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/panel.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/pretty.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/protocol.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/region.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/repr.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/scope.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/screen.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/segment.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/style.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/styled.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/syntax.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/table.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/terminal_theme.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/text.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/theme.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/themes.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__/traceback.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__/_asyncio.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__/_utils.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__/after.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__/before_sleep.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__/before.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__/nap.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__/retry.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__/stop.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__/wait.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/_collections.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/_version.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/connection.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/connectionpool.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/exceptions.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/fields.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/filepost.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/poolmanager.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/request.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__/response.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/contrib/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/contrib/__pycache__/_appengine_environ.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/contrib/__pycache__/socks.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/packages/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/packages/__pycache__/six.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/__init__.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/connection.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/proxy.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/queue.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/request.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/response.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/retry.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/ssl_.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/ssl_match_hostname.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/ssltransport.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/timeout.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/url.cpython-39.pyc
virtualenv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__/wait.cpython-39.pyc
